*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: rgba(246, 237, 196, 0.287);
}

h1{
    color: #363A57;
    font-size: 70px;
}


h3{
    color: #363A57;
    font-size: 30px;
    margin-top: 20px;
}

.name-color{
    color: orange;
}

p{
    color: dimgray;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 40px;
    margin-right: 10px;
}

section{
    height: 700px;
    padding-bottom: 325px;
}

#about{
    background-color: rgba(255, 160, 122, 0.308);
}
.half-sight{
    margin-top: 2%;
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left:2% ;
 }


 #menu{
    height: 5px;
    padding-bottom: 40px;
    background-color:rgba(246, 237, 196, 0.287);
 }

 #menu ul{
    text-align: right;
  }

 #menu li {
    display: inline-block;
    font-weight: 25px;
    list-style-type:none;
    border-radius: 20px 20px 20px  20px;
  }

  #menu li a {
  display: block;
  color: black;
  padding: 10.75px 20px;
  text-decoration: none;
  }

  .link-btn
  {
    margin-top: 20px;
    border-radius: 5px;
    padding:10px 20px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 30px rgb(243, 185, 158);
    background: linear-gradient(45deg, #04efcc 0%,#b7039f 57%,#efab00 100%);
  }

 .half-sight img{
    width: 100%;
 }


 #about-details{
     background: rgba(51, 51, 27, 0.089);
 }


#all-project{
    background-color: rgba(119, 136, 153, 0.486);
}

#all-project h1{
    font-size:45px;
}

.box-size img{
    width: 100%;
}
.box-size{
    width: 25%;
    margin: 1% 2.1% 1% 2.1%;
    padding: 1% 2% 1% 2%;
    float: left;
    border-radius: 5px;
    height: 90%;
    background-color: white;
    box-shadow: 5px 5px 40px rgb(165, 217, 241);

}

.align{
    text-align: center;
    margin-bottom: 40px;
}

.latest{
    color: orangered;
}

.box-size h3{
    color: #7459bd;
}


#question{
    background-color: rgba(248, 196, 194, 0.582);
    background-image: url(img/work.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px 200px;
    height: 350px;
    box-shadow: 5px 5px 40px rgb(226, 130, 218);
}


.query h1{
    color: white;
    font-size: 50px;
}

.btn a{
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
    color: white;
    font-size: 20px;
}

.query{
    width: 30%;
    margin-left: 26%;
    margin-top: 16%;
    display: block;
    float: left;
}

.btn{
    width: 30%;
    margin-top: 17%;
    margin-right: 3%;
    display: block;
    float: right;
}

footer h2{
    color:rgb(255, 255, 255);
    font-size: 25px;
    
}

footer a{
    padding-top: 5%;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:#8990e6;
}
.foot{
   margin: auto;
   padding: 10px;
}

footer{
    background-color: rgb(0, 0, 0);
   text-align: center;
}

footer img{
    width: 25px;
    margin: 0% 2%;
}


.service{
    width: 25%;
    margin: 1% 2.1% 1% 2.1%;
    padding: 1% 2% 1% 2%;
    float: left;
    border-radius: 5px;
    height: 50%;
    background-color: #f5ddb69f;
    box-shadow: 5px 5px 40px #c5b5f1b7;
    margin-bottom: 2%;
}

#my-services{
    padding-bottom: 360px;
    background: rgba(221, 236, 180, 0.431);

}
#my-services h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
}

.ser{
    color: red;
}

.service h3{
    text-align: center;
    font: 30px;
    color: #0aa72e;
}

.service p{
    color: rgb(19, 19, 19);
}
.takeit{
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    color: rgb(251, 116, 26);
    font-size: 20px;
    padding: 10px;
    background:linear-gradient(45deg, rgb(61, 170, 76) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgb(240, 209, 75) 100%); 
   
}